<% include ../partials/header %>
<script type="text/javascript" src="../../pages.js"></script>
<main>
  <div class="feed-opening">
    <% if( query){ %>
      <% if( query.postType === 'LOST' ){ %>
        <h1 class="page-title">Have you seen...</h1>
      <% } else if( query.postType === 'FOUND' ){ %>
        <h1 class="page-title">Found!</h1>
      <% } else { %>
        <h1 class="page-title">Lost and Found Pets</h1>
      <% }  %>
    <% }%>
    <button class="btn-small search-button" onclick="location.href = '/posts/search'">Search</button>
  </div>

    <section class="pet-list">
      <% posts.forEach((post, idx, array) => { %>
        <a class="pet-link" href="/posts/<%= post.postType.toLowerCase() %>pet/<%= post._id %>">
          <div class="pet">
              <div class="pet-image-area">
                <img class="pet-image" src="<%= post.image %>" alt="<%= post.petType.petCategory %>">
              </div>
              <div class="details-area">
                <% if (post.postType === 'LOST' && post.lost.name !== '') { %>
                  <h2 class="pet-name"><%= post.lost.name %></h2>
                <% } else if (post.postType === 'LOST' && post.lost.name === '')  { %>
                  <h2 class="pet-name"><%= post.title %></h2>
                <% } else if (post.postType === 'FOUND' && post.found.name !== '') { %>
                  <h2 class="pet-name"><%= post.found.name %></h2>
                <% } else if (post.postType === 'FOUND' && post.found.name === '')  { %>
                  <h2 class="pet-name"><%= post.title %></h2>
                <% } %>
                <p class="info">Type: <span class="detail"><%= post.petType.petCategory %></span></p>
                <p class="info">Color: <span class="detail"><%= post.breed %></span></p>
                <% if (post.postType === 'LOST') { %>
                  <p class="info">Last seen: <span class="detail"><%= post.location.city %>, <%= post.location.state %>, <%= post.location.postal %></span></p>
                <% } else if (post.postType === 'FOUND') { %>
                  <p class="info">Found  Near: <span class="detail"><%= post.location.city %>, <%= post.location.state %>, <%= post.location.postal %></span></p>
                <% } %>
                <p class="info">Date: <span class="detail"><%= post.date %></span></p>
                <p class="info">About: <span class="detail desc"><%= post.description %></span></p>
              </div>
          </div>
        </a>
        <% if (idx === array.length - 1) { %>
          <!-- do nothing -->
        <% } else { %>
          <hr class="line">
        <% } %>
      <% }) %>
      <% include ../partials/feedPagination %>
    </section>
    <section class="call-to-action">
      <a href="/posts/foundpet/new"><button id="FoundBtn" class="btn btn-found btn-small">I've found a Pet</button></a>
      <a href="/posts/lostpet/new"><button id="LostBtn" class="btn btn-lost btn-small">I'm looking for a Lost Pet</button></a>
    </section>
  </main>

<% include ../partials/footer %>
